= builder.caption caption, clazz: caption_class
= builder.text_field key, **options
i.fa.fa-times.clear-filter-by-text style='margin-left: -1em; margin-right: 0.2em; cursor: pointer; color: gray' onclick="this.previousElementSibling.value=''"

